@import url("../../../globalStyles.css");
.TopNavBar-container {
  height: 10vh;
  width: 100%;
  border-bottom: 0.1vh solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.TopNavBar-icon-cont {
  height: 7vh;
  width: 7vh;
  box-shadow: 0.1vh 0.1vh 0.5vh grey;
  border-radius: 7vh;
  margin: 0 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}



.TopNavBar-title {
  font-family: var(--font);
  font-size: 2.5vh;
  flex-grow: 1;
  margin: 0 2vw;
}

.TopNavBar-search {
  flex-grow: 2;
  margin-right: 3vw;
  border: 0.1vh solid grey;
  border-radius: 1vh;
  height: 4vh;
  font-family: var(--font);
  padding: 0.5vh;
  font-size: 2vh;
}

.TopNavTabIcon {
  height: 4vh;
  width: 4vh;
}

.TopNav-tooltip {
  font-family: var(--font);
  font-size: 2vh;
  position: absolute;
  top: -1vh;
  right: -1vh;
  background-color: black;
  color: white;
  height: 3vh;
  width: 3vh;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
