:root {
    --font: "Roboto", sans-serif;
    /* justify-content: center;
    align-items: center;
    display: flex; */
  }
  
  body {
    margin: 0;
    
     
    /* justify-content: center;

    align-items: center;
    display: flex; */
  }
  