.button{
    min-height: 4vh;
    min-width: 5vw;
    width: fit-content;
    font-family: 'Lato', sans-serif;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vw 1vh 2vw;
    color:white;
    font-size: 2vh;
    border-radius: 4vh;
    cursor: pointer;
    margin: 1vh;
    outline: 0;
    border: 2px solid blue ;
}
.button:hover{
    box-shadow: 0px 0px 10px black;
    background-color: blue;
}


.button:active{
    box-shadow: 5px 5px 10px blue;
}
.button:focus{
    box-shadow: 5px 5px 10px skyblue;
    border: 3px double white;
}

.align_center{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button_layout{
    min-height: 5vh;
    min-width: 5vw;
    width: fit-content;
    font-family: 'Lato', sans-serif;
    background-color: white;
    padding: 1vh 2vw 1vh 2vw;
    color:blue;
    border: 2px solid blue;
    font-size: 2vh;
    border-radius: 1vh;
    cursor: pointer;
    margin: 1vh;
    
}
.secon_button{
    min-height: 4vh;
    width: fit-content;
    font-family: 'Lato', sans-serif;
    background-color: blue;
    padding: 1vh 2vw 1vh 2vw;
    color:white;
    font-size: 2vh;
    border-radius: 4vh;
    cursor: pointer;
    margin: 1vh;
}
.secon_button:hover{
    background-color: aqua;
    box-shadow: 0px 0px 10px black;
}
.secon_button:active{
    background-color: blue;
}
.secon_button:focus{
    background-color:5px 5px 10px skyblue;
    border: 1px double burlywood;
}
.horizontal{
    display: grid;
    row-gap: 50px;
    justify-content: center ;
}
.s1{
    height: 5vh;
    background-color: aqua;
    flex-grow: 1;
}
.s2{
    height: 5vh;
    background-color: blueviolet;
    flex-grow: 2;
}
.s3{
    height: 5vh;
    width: 40vw;
    background-color:blue;
    margin:0 auto 0 auto;
}
.s4{
    height: 5vh;
    background-color: aquamarine;
    flex-grow: 1;
}
.s5{
    height: 5vh;
    background-color: red;
    flex-grow: 1;
}
.s1_row{
    display: flex;
    flex-direction: row;
}